.search-bar {
    box-sizing: content-box;
    display: flex;
    margin-bottom: 30px;
    align-items: stretch;
    height: 100%;
}

.search-input {
    width: 100%;
    padding: 1em .5em;
    border: 1px solid #959595;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-right: 1em;
}

.search-input::placeholder {
    color: #959595;
}

.search-input.error {
    border: 1px solid #dd2233;
}

.biblia-services-button {
    display: inline-flex;
    font-size: 1.05rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    /*padding: 1rem 2rem;*/
    background: red;
    border: none;
    color: white;
    border-radius: 16px;
    min-width: 100px;
    cursor: pointer;
}

.biblia-services-button-search {
    border-radius:16px;
}

.biblia-services-button:disabled {
    cursor: not-allowed;
}

.search-error {
    color: #dd2233;
    text-align: center;
}

.button-spinner {
    width: 20px;
    height: 20px;
    border: 5px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.biblia-services-result-wrapper {
    border: 1px solid #f0f0f1;
    border-radius: 16px;
    box-shadow: 0px 0px 30px -20px black;
    padding: 1em;
    margin-bottom: 1em;
}

.biblia-services-result {
    display: flex;
    align-items: center;
}

.biblia-services-result-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1.5em;
}

.biblia-services-result-cover {
    flex-basis: 20%;
    flex-shrink: 0;
    text-align: center;
}

.biblia-services-result-cover img {
    height: 100%;
    max-width: 100%;
}

.biblia-services-submit-form {
    margin-left: auto;
}

.biblia-services-submit-error {
    flex-basis: 100%;
    text-align: center;
    color: #dd2233;
    font-weight: 700;
}

.book-author::before {
    content: "Συγγραφέας:";
    font-weight: 700;
}

.book-isbn::before {
    content: "ISBN-13:";
    font-weight: 700;
}

.book-pub-name::before {
    content: "Εκδόσεις:";
    font-weight: 700;
}

.book-pub-year::before {
    content: "Έτος:";
    font-weight: 700;
}

.book-title {
    font-size: 1.8em;
    font-weight: 700;
    line-height:1.2em;
    margin-bottom:1em;
}

@media screen and (max-width: 820px) {
    .biblia-services-result {
        flex-direction: column;
    }

    .biblia-services-submit-form {
        margin-left: 0;
        width: 75%;
        text-align: center;
    }

    .biblia-services-submit-form .biblia-services-button {
        width: 100%;
    }
}
